<div class="row" ng-controller="FacebookCtrl">
  <div class="col-md-4">
    <h4>{{welcomeMsg}}</h4>
    <div ng-if="isLoggedIn == true">
      <a href="{{userInfo.link}}" target="_blank">
        <img ng-src="{{picture}}">
      </a>
    </div>
    <div ng-if="isLoggedIn == false">
      <button type="button" class="btn btn-default" ng-click="login()">Log In</button>
    </div>
    <div ng-if="isLoggedIn == true">
      <button type="button" class="btn btn-default" ng-click="logout()">Log Out</button>
    </div>
    <div class="well" ng-if="isLoggedIn == true">
      <h4>User Info</h4>
        <ul>
          <li>ID: {{userInfo.id}}</li>
          <li>First name: {{userInfo.first_name}}</li>
          <li>Last Name: {{userInfo.last_name}}</li>
          <li>Gender: {{userInfo.gender}}</li>
          <li>Locale: {{userInfo.locale}}</li>
        </ul>
    </div>
    <div class="well" ng-if="isLoggedIn == true">
      <h4>User Permissions</h4>
        <ul>
          <li ng-repeat="permission in permissions">{{permission.permissiomn}} - {{permission.status}}</li>
        </ul>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Welcome to Facebook</h3>
    <form>
      <div class="form-group">
          <label>
            Status Update
          </label>
          <textarea class="form-control">

          </textarea>
          <button type="button" class="btn btn-default">
            Submit
          </buton>
      </div>
    </form>
  </div>
</div>
